<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2021 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this fileStore except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jkqj.mod.issue.pub.output.db.dal.mapper.IssueEventMapper">

    <sql id="bizColumns">
        body,
        created_at,
        status,
        re_send_at
    </sql>

    <sql id="bizFields">
        #{body},
        #{createdAt},
        #{status},
        #{reSendAt}
    </sql>


    <insert id="output">
        insert into issue_event
        (
        body,
        created_at,
        re_send_at
        )
        values
        (
        #{message},
        now(),
        now()
        )
    </insert>

    <update id="changeStatus" >
        update issue_event set status=#{status} and  re_send_at=now()
        where id in
        <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <select id="scan" resultType="com.jkqj.mod.issue.pub.output.db.dal.po.IssueEvent" >
        select id,
        <include refid="bizColumns" />
        from issue_event where status=0 or (status = 1 and re_send_at &lt; #{timeoutAt}) limit ${limit} for update skip locked
    </select>
</mapper>